
html {
  background-color: rgb(35, 35, 35);
  scroll-behavior: smooth;
}

input::placeholder {
  font-family: "FontAwesome", "Nunito";
  color: lightgrey;
}
#asidemenu-container {
  background: rgba(22, 21, 21, 0.4);
  box-shadow: 0 8px 32px 0 rgba(36, 36, 36, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}
header {
  background: rgba(22, 21, 21, 0.4);
  box-shadow: 0 8px 32px 0 rgba(36, 36, 36, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}
#divisor {
  background-image: url("https://www.amd.com/system/files/2020-05/497354-dirt5-screenshot-norway-4-1260x709.jpg");
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      to bottom,
      rgba(35, 35, 35, 0.75) 0%,
      rgba(35, 35, 35, 1) 50%,
      rgba(35, 35, 35, 1) 100%
    ),
    url("../images/fondo3.jpg");
}
#applyBlur {
  background: rgba(22, 21, 21, 0.4);
  box-shadow: 0 8px 32px 0 rgba(36, 36, 36, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.card .cardtext {
  visibility: hidden;
}

.card:hover .cardtext {
  visibility: visible;
  display: block !important;
  transition-delay: 0.3s;
}
#asideresponsive {
  background: rgba(22, 21, 21, 0.4);
  box-shadow: 0 8px 32px 0 rgba(36, 36, 36, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}
#imgBackgroundGamePage {
  z-index: -1000;
  mask-image: linear-gradient(to top, rgba(35, 35, 35, 0.75) 0%, rgba(35, 35, 35, 1) 100%);
  -webkit-mask-image: linear-gradient(to top, rgba(0,0,0,0) 0%,rgba(0,0,0, 0.048) 50%, rgba(0,0,0, 0.3) 100%);
  height: 100%;
  width: 100%;
  object-fit: cover;
  user-select: none;
}


.container-gallery-game{
  
  margin: 20px auto
  ;
}

.container-galley-game-images{
  display: flex;
  flex-wrap: wrap;
}
.image-gallery-game{
  margin: auto;
}
.image-gallery-game:first-child {
  width: 100%;
}

.image-gallery-game:nth-child(n+2) {
  width: 19%;
  flex-wrap: nowrap;
}